<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <appSettings>
    <!-- dev -->
    <add key="logFileName" value="C:\Work\DacqPipe\log.txt" />
    <add key="xmlDataRoot" value="C:\Work\DacqPipe\Data" />
    <!--<add key="htmlDataRoot" value="C:\Work\DacqPipe\DataHtml" />-->
    <add key="dataSourcesFileName" value="c:\work\dacqpipe\rsssources\RssSourcesBig.txt" />
    <add key="dbConnectionString" value="Provider=SQLNCLI10;Server=(local);Database=DacqPipe;Trusted_Connection=Yes" />
    <add key="dbConnectionStringDump" value="Provider=SQLNCLI10;Server=(local);Database=DacqPipe;Trusted_Connection=Yes" />
    <add key="clientIp" value="" /> 
    <add key="enableZeroMQ" value="false" />

    <add key="UrlBlacklistFileName" value="C:\Work\DacqPipe\Config\shitlist.txt" />
    <add key="UrlRulesFileName" value="C:\Work\DacqPipe\Config\rules.txt" />
    
    <!-- stand-alone -->
    <!--<add key="logFileName" value=".\log.txt" />-->
    <!--<add key="xmlDataRoot" value=".\Data" />
    <add key="htmlDataRoot" value=".\DataHtml" />
    <add key="dataSourcesFileName" value=".\RssSources.txt" />-->
    
    <!-- server -->
    <!--<add key="logFileName" value="E:\Users\miha\Work\DacqPipeBig_7\log.txt" />
    <add key="xmlDataRoot" value="E:\Users\miha\Work\DacqPipeBig_7\Data" />
    <add key="htmlDataRoot" value="E:\Users\miha\Work\DacqPipeBig_7\DataHtml" />
    <add key="dataSourcesFileName" value="E:\Users\miha\Work\DacqPipeBig_7\RssSourcesBig.txt" />
    <add key="dbConnectionString" value="Provider=SQLNCLI10;Server=(local);Database=DacqPipeBig_7;Trusted_Connection=Yes" />
    <add key="clientIp" value="" />
    <add key="enableZeroMQ" value="false" />-->
    
    <!-- ZeroMQ stuff --> 
    <add key="WP4MessageAddress" value="tcp://*:5557" />
    <add key="WP4SubscriberAddress" value="tcp://*:5558" />
    <!-- 0=Pipeline, 1=Request and Reply -->
    <add key="MessagingType" value="0" />
    <add key="MAX_QUEUE_SIZE" value="5" />
    <add key="IGNORE_QUEUE_OVERFLOW" value="0" />
    <add key="Broker" value="0" />
    <add key="ACTIVEMQ" value="tcp://localhost:61616" />
    <add key="WAIT_COMMAND" value="WP3_WAIT" />
    <add key="FINISH_COMMAND" value="WP4_FINISH" />
    <add key="CONTINUE_COMMAND" value="WP3_CONTINUE" />
    <add key="MESSAGE_REQUEST" value="WP4_R" />
    <add key="WP4_COMMAND_FILTER" value="WP3" />
    <add key="QueueName" value="WP3_QUEUE" />
    <add key="fileStorageAddress" value="messageStorage" />
    <add key="MAX_FILE_STORAGE_SIZE" value="1000" />
    <add key="DBLoggingReceiver" value="tcp://*:5561" />
    <add key="DB_LOGGING" value="false" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logs/messenger.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>