<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <appSettings>
    <!-- dev -->
    <add key="webSiteId" value="dacq" />
    <add key="logFileName" value="C:\Work\DacqPipe\log.txt" />
    <add key="xmlDataRoot" value="C:\Work\DacqPipe\Data" />
    <!--<add key="htmlDataRoot" value="C:\Work\DacqPipe\DataHtml" />-->
    <!--<add key="offlineSource" value="C:\Users\Administrator\Desktop\TestData" />-->
    <add key="dataSourcesFileName" value="c:\work\dacqpipe\rsssources\emm.txt" />
    <add key="dbConnectionString" value="Provider=SQLNCLI10;Server=(local);Database=DacqPipe;Trusted_Connection=Yes" />
    <add key="dbConnectionStringDump" value="Provider=SQLNCLI10;Server=(local);Database=DacqPipe;Trusted_Connection=Yes" />
    <add key="clientIp" value="" /> 
    <add key="enableZeroMQ" value="true" />

    <add key="UrlBlacklistFileName" value="C:\Work\DacqPipe\Config\shitlist.txt" />
    <add key="UrlRulesFileName" value="C:\Work\DacqPipe\Config\rules.txt" />
    
    <!-- stand-alone -->
    <!--<add key="logFileName" value=".\log.txt" />-->
    <!--<add key="xmlDataRoot" value=".\Data" />
    <add key="htmlDataRoot" value=".\DataHtml" />
    <add key="dataSourcesFileName" value=".\RssSources.txt" />-->
    
    <!-- server -->
    <!--<add key="logFileName" value="E:\Users\miha\Work\DacqPipeBig_7\log.txt" />
    <add key="xmlDataRoot" value="E:\Users\miha\Work\DacqPipeBig_7\Data" />
    <add key="htmlDataRoot" value="E:\Users\miha\Work\DacqPipeBig_7\DataHtml" />
    <add key="dataSourcesFileName" value="E:\Users\miha\Work\DacqPipeBig_7\RssSourcesBig.txt" />
    <add key="dbConnectionString" value="Provider=SQLNCLI10;Server=(local);Database=DacqPipeBig_7;Trusted_Connection=Yes" />
    <add key="clientIp" value="" />
    <add key="enableZeroMQ" value="false" />-->
    
    <!-- ZeroMQ stuff -->
    <add key="ID" value="1" />
    <add key="ReceiverNumber" value="1" />
    <add key="ProducerNumber" value="1" />
    <!--<add key="MessageReceiveAddress" value="tcp://127.0.0.1:5555" />
    <add key="SendLoadBalancingAddress" value="tcp://127.0.0.1:5556" />
    <add key="FinishReceive" value="tcp://127.0.0.1:5550" />-->
    <add key="MessageSendAddress" value="tcp://127.0.0.1:5557" />
    <add key="ReceiveLoadBalancingAdress" value="tcp://127.0.0.1:5558 tcp://127.0.0.1:5559 tcp://127.0.0.1:5560 tcp://127.0.0.1:5561 tcp://127.0.0.1:5562" />
    <add key="FinishPublish" value="tcp://127.0.0.1:5550" />
    <!-- 0=Pipeline, 1=Request and Reply-->
    <add key="MessagingType" value="0" />
    <add key="MAX_QUEUE_SIZE" value="10000" />
    <add key="MIN_QUEUE_SIZE" value="1" />
    <add key="IGNORE_QUEUE_OVERFLOW" value="1" />
    <add key="Broker" value="0" />
    <add key="ACTIVEMQ" value="tcp://localhost:61616" />
    <add key="WAIT_COMMAND" value="WAIT" />
    <add key="FINISH_COMMAND" value="FINISH" />
    <add key="CONTINUE_COMMAND" value="CONTINUE" />
    <add key="MESSAGE_REQUEST" value="R" />
    <add key="RECEIVE_COMMAND_FILTER" value="" />
    <add key="QueueName" value="WP3_QUEUE" />
    <add key="InFileStorageAddress" value="inMessageStorage" />
    <add key="OutFileStorageAddress" value="outMessageStorage" />
    <add key="MAX_FILE_STORAGE_SIZE" value="1000" />
    <add key="DBLoggingReceiver" value="tcp://*:5561" />
    <add key="DB_LOGGING" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <!--<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logs/messenger.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <!--<appender-ref ref="LogFileAppender" />-->
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>